<!DOCTYPE HTML>
<html>
   <head>
    <meta charset="utf-8">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <title>Stock Benefit</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
  
    <!-- Favicons -->
    <link href="/results/img/favicon.jpg" rel="icon">
    <link href="/results/img/apple-touch-icon.jpg" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  
    <!-- Bootstrap CSS File -->
    <link href="/results/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
    <!-- Libraries CSS Files -->
    <link href="/results/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/results/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/results/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/results/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/results/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    
    <!-- Main Stylesheet File -->
    <link href="/results/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/results/css/results.css">       
   </head> 
    <body>
        <header id="header">
            <div class="container-fluid">
        
              <div id="logo" class="pull-left">
                <h1><a href="/" class="scrollto"  style="font-family: 'Abril Fatface';">STOCK BENEFIT</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
              </div>
        
              <nav id="nav-menu-container">
                <ul class="nav-menu">
                  <li><a href="/homenew">Home</a></li>
                  <li><a href="/search">SEARCH</a></li>
                  <% if(!currentUser){ %>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/register">SIGN UP</a></li>
                  <% } else { %>
                    <li><a href="/logout">LOGOUT</a></li>
                  <% } %>
              </ul>
                </ul>
              </nav><!-- #nav-menu-container -->
            </div>
        </header>
        <h1 class="myresult"><b><u><%=query%> -- <%=y%></u></b></h1>
        <div class="table">
        <table class="green">
            <thead>
            <tr>
            <th style="background-color: limegreen;">KEYDATA</th>
            <th style="background-color: limegreen;">VALUE</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
            <td colspan="2">
            </td>
            </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td style="background-color: red;">Opening Value</td>
                    <td style="background-color: red;"><%= data["1. open"] %></td>
                </tr>
                <tr>
                    <td style="background-color: limegreen;">High Value</td>
                    <td style="background-color: limegreen;"><%=data["2. high"]%></td>
                </tr>
                <tr>
                    <td style="background-color: red;">Low Value</td>
                    <td style="background-color: red;"><%=data["3. low"]%></td>
                </tr>
                <tr>
                    <td style="background-color: limegreen;">Closing Value</td>
                    <td style="background-color: limegreen;"><%=data["4. close"]%></td>
                </tr>
                <tr>
                    <td style="background-color: red;">volume</td>
                    <td style="background-color: red;"><%=data["5. volume"]%></td>
                </tr>
            
            </tbody>
            </table>    
        </div>
        <form action = "/addtowatchlist" method="POST">
            <button style="top: 460px;" name ="<%=query%>">Add to WatchList</button>
        </form>
    </body>
</html>
