<h1><%=query%></h1>
<h2><%=y%></h2>
<h3>Opening Value - <%= data["1. open"] %></h3>
<h3>High Value - <%=data["2. high"]%></h3>
<h3>Low Value - <%=data["3. low"]%></h3>
<h3>Closing Value - <%=data["4. close"]%></h3>
<h3>volume - <%=data["5. volume"]%></h3>
<button>Add to watch List</button>