<!DOCTYPE HTML>
<html>
   <head>
    <link rel="stylesheet" href="/css/results.css">       
   </head> 
    <body>
        <h1><%=query%></h1>
        <h2><%=y%></h2>

        <table class="green">
            <thead>
            <tr>
            <th>KEYDATA</th>
            <th>VALUE</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
            <td colspan="2">
            </td>
            </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>Opening Value</td>
                    <td><%= data["1. open"] %></td>
                </tr>
                <tr>
                    <td>High Value</td>
                    <td><%=data["2. high"]%></td>
                </tr>
                <tr>
                    <td>Low Value</td>
                    <td><%=data["3. low"]%></td>
                </tr>
                <tr>
                    <td>Closing Value</td>
                    <td><%=data["4. close"]%></td>
                </tr>
                <tr>
                    <td>volume</td>
                    <td><%=data["5. volume"]%></td>
                </tr>
            
            </tbody>
            </table>    
        
        <button>Add to watch List</button>

    </body>
</html>
